@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu+Mono&display=swap');

body {
  font-family: 'Montserrat';
}
#title {
  background-color: #ff4c68;
  height: 100vh;
  width: 100vw;
  color: white;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.75rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.btn-dark:hover {
  background-color: white;
  color: black;
}

/* Nav Bar */

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0px 16px;
  border-bottom: 2px solid #ff4c68;
  border-top: 2px solid #ff4c68;
}

.nav-item:hover {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: white;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400;
  color: white;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image (iPhone) */

.iphone {
  /* width: 60%; */
  transform: rotate(25deg);
  position: absolute;
  right: 21%;
}

.title-text {
  margin: auto 0;
  position: relative;
  z-index: 1;
}

/* features */
#features {
  padding: 5rem 0;
  background-color: white;
  position: relative;
  z-index: 1;
}

#features i {
  color: #ef8172;
  font-size: 5rem;
}
#features i:hover {
  color: #ff4c68;
}

#features .feature-box {
  text-align: center;
}

#features h3 {
  margin: 1rem 0;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 2rem;
}

#features p {
  color: #8f8f8f;
  font-size: 1.7rem;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
  padding-bottom: 0;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin-top: 2rem;
}

.carousel-item {
  padding: 3% 15%;
}

#indicators {
  padding-top: 2rem;
}

#press {
  padding: 3% 15%;
  text-align: center;
  background-color: #ff4c68;
}

.press-logo {
  margin: 1rem 1rem 2rem;
  width: 90%;
}

/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricingColumn {
  padding: 3% 2%;
}
#pricing .card {
  margin: 1rem 0;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  text-align: center;
  /* padding: 3% 15%; */
}

#cta h3 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

/* FOOTER */

#footer {
  text-align: center;
}

.social-icons {
  margin: 2rem;
}
.social-icons a {
  margin: 0 1rem;
  color: black;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid transparent;
}

.social-icons a:hover {
  border: 1px solid black;
}

/******************/
/* MEDIA QUERIES */
/****************/

/* Large Tablet */
@media (max-width: 1250px) {
  .iphone {
    transform: rotate(0deg);
    position: static;
  }
  #title {
    text-align: center;
    height: fit-content;
  }
}

/* Small Tablet */
@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  #cta h3 {
    font-size: 2rem;
  }

  .carousel-item em {
    font-size: 1.5rem;
  }
  .testimonial-image {
    width: 20%;
  }
}
